* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  overflow-x: hidden;
  line-height: 1.2;
  background-color: #f6f5f1;
}
.center {
  max-width: 100rem;
  margin: 0% auto;
  padding: 2.4rem 4.2rem;
}
.header {
  max-width: 70rem;
  max-width: 114rem;
  padding: 2rem 2rem;
}
.nav-links {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: roboto;
  /* margin-left: 8rem; */
}
.nav-links a {
  text-decoration: none;
  color: black;
  margin-right: 5rem;
}

.nav-links :hover {
  color: #00abab;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* hero section styling //////////////*/
@font-face {
  font-family: herofont;
  src: url(/Millik.ttf);
}
@font-face {
  font-family: herop;
  src: url(/Moderat-Regular.ttf);
}
.hero-container {
  display: flex;
}
.hero-journey {
  font-family: herofont;
  font-size: 6rem;
}
.info-image {
  margin-left: 17%;
  margin-top: 0%;
}
.info-p {
  font-family: herop;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.6;
  padding-top: 1rem;
}

.eko input {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px groove;
  border-color: rgb(255, 248, 248);
  border-right: none;
  border-bottom-left-radius: 30px;
  border-start-start-radius: 30px;
  width: 50%;
  margin-top: 2rem;
}
.app {
  background-color: black;
  color: white;
  padding: 2rem;
  font-size: 1.5rem;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border: none;
  font-weight: 600;
}
.repay {
  display: flex;
  margin-top: 4rem;
}
.repay-info {
  font-family: herop;
  margin-left: 2.3rem;
  font-size: 1rem;
  font-weight: 600;
}
.hero-pic {
  margin-top: 13rem;
  border-radius: 70px;
  overflow-x: hidden;
  margin-right: 12rem;
}
.empower{
  font-family: herop;
  font-weight: 600;
  margin-top: 5rem;
  word-spacing: 0.5rem;
  line-height: 1.5;
}

                /* section 2222222222222222222222222222222222222222222222 */
 .advanced{
  background-color: black;
 } 
 .advanced-container{
  display: flex;
 }  
 .promo{
  width: 100%;
 } 
 .advanced-img{
  border-radius: 6rem;
  margin-left: 5rem;
  margin-top: 3rem;
 }      
 .advanced2{
  width: 100%;
  margin-left: -7%;
 }     
 .help{
  font-size: 1.7rem;
  padding-top: 9rem;
  padding-left: 15rem;
  font-weight: 900;
 }
 .million{
  color: white;
  margin-top: -16rem;
  margin-left: 7rem;
  font-size: 3rem;
  font-size: 4rem;
  font-weight: 600;
  font-family: herofont;
 }
