* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  overflow-x: hidden;
  line-height: 1.2;
  background-color: #f6f5f1;
   
}
.center {
  max-width: 100rem;
  margin: 0% auto;
  padding: 2.4rem 3.2rem;
}
.header{
  max-width: 110rem;
  max-width: 114rem;
  padding: 2rem 2rem;
  

}
.nav-links{
font-size: 1.4rem;
font-weight: 400;
font-family: roboto ;
margin-left: 8rem;

}
.nav-links a{
  text-decoration: none;
color: black;
margin-right: 5rem;

}
.header-container{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

  
}
