* {
  box-sizing: border-box;
  margin: 0% auto;
  padding: 0.5rem;
}
html {
  font-size: 62.5%;
  font-family: roboto;
}

body {
  background-image: url(/image/backgrond\ login\ image.svg);
  background-size: cover;
  font-family: roboto;
}
.div-form {
  background-color: white;
  display: inline-block;
  /* padding: 3%; */
  margin-top: 12%;
  margin-left: 7%;
  padding-right: 1%;
  width: 19%;
}
form {
}
.email {
  padding: 3%;
  border-radius: 2%;
  margin-top: 4%;
  border: groove #ffffff;
}

.password {
  padding: 3%;
  border-radius: 2%;
  margin-top: 7%;
  border: groove #ffffff;
}

.log {
  padding-left: 31%;
  padding-right: 31%;
}
